@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Merriweather', serif;
}

.banner {
    width: 1320px;
    height: 600px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner Image.png');
    margin: 10px auto;
    border-radius: 16px;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .banner-text h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}

.khobi {
    width: 632px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
}

#demo {
    margin-top: 120px;
    display: flex;
    align-items: center;
}

.off-section {
    width: 800px;
    margin: 10px 700px;
}

.off-text * {
    text-align: center;
}

.first {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
}

.second {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.third {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}

.container {
    width: 1320px;
    height: 600px;
    background: linear-gradient(180deg, rgba(7, 2, 17, 0.00) 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    margin: 120px auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.con-text {
    max-width: 642px;
    margin-left: 80px;
    margin-top: 80px;
}

.con-text h1 {
    margin-bottom: 20px;
}

.con-text p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 20px;
    /* 166.667% */
}

.con-text button {
    color: white;
    display: inline-block;
    margin-left: 40px;
    display: inline-flex;
    padding: 16px 32px;
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: hsl(0, 100%, 50%);
    border: 0;
}

.con-img {
    max-width: 320px;
    margin-right: 140px;
    margin-top: 80px;
}

.waka {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
}