@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Merriweather', serif;
}

.banner {
    position: relative;
    width: 1320px;
    height: 600px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner Image.png');
    margin: 50px 100px;
    border-radius: 16px;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .banner-text h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}

.khobi {
    width: 632px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
}

#demo {
    margin-top: 200px;
    margin-left: 350px;
    margin-bottom: 200px;
    display: flex;
    align-items: center;
}

.off-section {
    position: relative;
    width: 800px;
    margin-top: 120px 100px;
    /* margin: 10px 700px; */
}

.off-text * {
    text-align: center;
}

.off-image {
    margin-left: 1000px;
    padding-left: 200px;
}

.first {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
}

.second {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.third {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}

.container {
    position: relative;
    width: 1320px;
    height: 600px;
    background: linear-gradient(180deg, rgba(7, 2, 17, 0.00) 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-left: 100px;
}

.con-text {
    max-width: 642px;
    margin-left: 80px;
    margin-top: 80px;
}

.con-text h1 {
    margin-bottom: 20px;
}

.con-text p,
.feature-text p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 20px;
    /* 166.667% */
}

button {
    color: white;
    display: inline-block;
    margin-left: 40px;
    display: inline-flex;
    padding: 16px 32px;
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: hsl(0, 100%, 50%);
    border: 0;
    cursor:pointer;
}
button:hover{
    background-color: gray;
}
.con-img {
    max-width: 320px;
    margin-right: 140px;
    margin-top: 80px;
}

.waka {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
}

.wa {
    position: relative;
    width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 100px;
    border-radius: 8px;
    display: flex;
    text-align: center;
    align-items: center;
}

.wa-p {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    margin-left: 400px;
}

span {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    display: inline-block;
    margin-right: 10px;
}

.waba {
    margin-left: 370px;
    margin-top: 15px;
}

#feature {
    position: relative;
    width: 500px;
    height: auto;
    margin: 100px;
}

.first-row {
    display: flex;
    border-radius: 16px;
    margin-bottom: 10px;
}
.pic{
    margin-left: 10px;
    transition: 0.5s;
}
.pic:hover{
    cursor: pointer;
    transform: scale(1.3);
    z-index: 2;
}

.second-row {
    display: flex;
    border-radius: 16px;
}

#feature {
    margin-bottom: 200px;
}

.feature-text {
    margin-left: 10px;
    margin-bottom: 5px;
}

.feature-text .the {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 15px;
}

.feature-text .our h1,
.newsletter h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.feature-text p,
.newsletter p {
    color: gray;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 20px;
    /* 166.667% */
}

#news {
    margin-bottom: 100px;
}

.newsletter {
    position: relative;
    width: 1000px;
    margin-left: 270px;
    height: 616px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
}

.newsletter img {
    margin-top: 100px;
    margin-bottom: 20px;
}

.newsletter input[type="email"] {
    width: 300px;
    height: 52px;
    color: blue;
    border-radius: 50px 0 0 50px;
    /* padding-left: 20px; */
    border: 0;
    /* color: rgba(7, 2, 17, 0.30); */
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.newsletter input[type="submit"] {
    width: 150px;
    height: 52px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    cursor: pointer;
}
.newsletter input[type="submit"]:hover{
    background-color: gray;
}

.forinput {
    display: flex;
    margin-left: 250px;
    align-items: center;
    text-align: center;
}

footer {
    position: relative;
    background: #070211;
    padding: 120px 140px;

}

.bah * {
    color: white;
}

.bah-text {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.bah-text1 {
    width: 300px;
    line-height: 30px
}

.bah-text2-part1 {
    display: inline;
}

.bah-text2 * {
    display: inline;
    line-height: 5px;
}

.bah-text2-part1 p {
    font-size: 20px;
}

bah-text2-part2 p {
    font-size: 20px;
}

.bah-icon {
    margin-left: 40%;
    margin-top: 18px;
    display: flex;
}

.bah-icon img {
    display: inline-block;
    padding: 0px 5px;
}

.bah-copywrite {
    display: flex;
    justify-content: space-between;
}

.bonus {
    position: relative;
    display: flex;
    margin: 100px 100px;
    align-items: center;
}

.mid-pic {
    display: flex;
    align-items: center;
    border-radius: 463px;
    border: 15px solid #F00;
    margin-right: 70px;
}

.mid-pic img {
    padding: 25px;
}

.left {
    width: 400px;
}

.left {
    width: 400px;
    margin-right: 40px;
}

.left h1 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
}

.left h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.left p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.right {
    width: 300px;
}

.right h1 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.right p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}